body {
	font-family: sans-serif;
	background: linear-gradient(to bottom, #f2f2f2, #e0e0e0);
	color: #333;
}

main{
	min-height: 90vh;
}

header {
	text-align: center;
	border-bottom: 1px solid #ccc;
}


#prize,
#timer {
	font-weight: bold;
}

label {
	display: block;
	margin-bottom: 5px;
}


#entry-form button:hover {
	background-color: #3e8e41;
}

#entries,
#winner {
	margin-top: 20px;
	text-align: center;
}

#entries p,
#winner p {
	border-bottom: 1px solid #ddd;
	padding-bottom: 5px;
	margin-bottom: 5px;
}

#winner p {
	font-weight: bold;
}

#entry-form button:disabled {
	background-color: #ccc;
	color: #666;
	cursor: not-allowed;
}